<!DOCTYPE html>
<html lang="fr">
<head th:replace="mesFragments :: fragHead">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="min-vh-100">
    <nav th:replace="mesFragments :: fragNav"></nav>
    <div th:replace="mesFragments:: fragFlashSuccess"></div>
    <main class="container">
<h1>Gestion des bombes</h1>
        <div >
            <a th:href="@{'/admin/bombe/create'}" class="btn btn-success">
                Ajouter une bombe
            </a>
        </div>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Nom</th>
                <th>Dégât</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="uneBombe : ${bombes}">
                <td th:text="${uneBombe.nom}"></td>
                <td th:text="${uneBombe.nbrDes+'d'+uneBombe.maxDes}"></td>
                <td class="d-flex">
                    <a th:href="@{'/admin/bombe/'+${uneBombe.id}+'/edit'}" class="btn btn-warning">
                        Modifier
                    </a>
                    <a th:href="@{'/admin/bombe/'+${uneBombe.id}}" class="btn btn-primary">
                        Consulter
                    </a>
                    <div>
                        <form th:action="@{'/admin/bombe/delete'}" method="post">
                            <input type="hidden" name="id" th:value="${uneBombe.id}">
                            <button class="btn btn-danger">Supprimer</button>
                        </form>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </main>
</div>
<footer th:replace="mesFragments :: fragFooter"></footer>
</body>
</html>