<!DOCTYPE html>
<html lang="fr">
<head th:replace="mesFragments :: fragHead">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="min-vh-100">
    <nav th:replace="mesFragments :: fragNav"></nav>
    <main class="container">
        <h1>Ajouter un type d'arme</h1>
        <form novalidate class="validation" th:action="@{/admin/typeArme}" th:object="${nouvelleTypeArme}" method="post">
            <div class="mb-3">
                <label for="nom" class="form-label">Nom</label>
                <input minlength="3" maxlength="255" type="text" class="form-control" id="nom" th:field="${nouvelleTypeArme.nom}" required>
            </div>
            <div class="mb-3">
                <label for="nbrDes" class="form-label">Nombre de dés</label>
                <input min="1" max="99" type="number" class="form-control" id="nbrDes" th:field="${nouvelleTypeArme.nbrDes}" required>
            </div>
            <div class="mb-3">
                <label for="maxDes" class="form-label">Maximum des dés</label>
                <input min="1" max="99" type="number" class="form-control" id="maxDes" th:field="${nouvelleTypeArme.maxDes}" required>
            </div>
            <div class="mb-3">
                <label for="limiteCritique" class="form-label">Limite Critique</label>
                <input min="1" max="999" type="number" class="form-control" id="limiteCritique" th:field="${nouvelleTypeArme.limiteCritique}" required>
            </div>
            <div class="mb-3">
                <label for="mutiplicateurCritique" class="form-label">Multiplicateur Critique</label>
                <input min="1" max="99" type="number" class="form-control" id="mutiplicateurCritique" th:field="${nouvelleTypeArme.mutiplicateurCritique}" required>
            </div>
            <button type="submit" class="btn btn-primary">Ajouter</button>
        </form>
    </main>

</div>
<footer th:replace="mesFragments :: fragFooter"></footer>
<script src="/js/validation.js"></script>
</body>
</html>