<!DOCTYPE html>
<html lang="fr">
<head th:replace="mesFragments :: fragHead">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="min-vh-100">
    <nav th:replace="mesFragments :: fragNav"></nav>
    <main class="container">
        <h1>Modifier le type d'accessoire</h1>
        <form novalidate class="validation" th:action="@{/admin/typeAccessoire/update}" th:object="${typeAccessoire}" method="post">
            <input type="hidden" th:field="${typeAccessoire.id}">
            <div class="mb-3">
                <label for="nom" class="form-label">Nom</label>
                <input minlength="3" maxlength="255" type="text" class="form-control" id="nom" th:field="${typeAccessoire.nom}" required>
            </div>
            <div class="mb-3">
                <label for="typeBonus" class="form-label">Type de bonus</label>
                <select class="form-select" id="typeBonus" th:field="${typeAccessoire.typeBonus}" required>
                    <option value="" disabled>Choisir un type de bonus</option>
                    <option value="vitesse" th:selected="${typeAccessoire.typeBonus == 'vitesse'}">Vitesse</option>
                    <option value="attaque" th:selected="${typeAccessoire.typeBonus == 'attaque'}">Attaque</option>
                    <option value="defense" th:selected="${typeAccessoire.typeBonus == 'defense'}">Défense</option>
                    <option value="endurance" th:selected="${typeAccessoire.typeBonus == 'endurance'}">Endurance</option>
                </select>
            </div>
            <button type="submit" class="btn btn-primary">Modifier</button>
        </form>
    </main>

</div>
<footer th:replace="mesFragments :: fragFooter"></footer>
<script src="/js/validation.js"></script>
</body>
</html>