<!DOCTYPE html>
<html lang="fr">
<head th:replace="mesFragments :: fragHead">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="min-vh-100">
    <nav th:replace="mesFragments :: fragNav"></nav>
    <main class="container">
        <h1>Détails du type d'accessoire</h1>
        <div>
            <p><strong>Nom : </strong> <span th:text="${typeAccessoire.nom}"></span></p>
            <p><strong>Type de bonus : </strong> <span th:text="${typeAccessoire.typeBonus}"></span></p>
        </div>
        <div>
            <a th:href="@{'/admin/typeAccessoire/'+${typeAccessoire.id}+'/edit'}" class="btn btn-warning">
                Modifier
            </a>
            <a th:href="@{'/admin/typeAccessoire'}" class="btn btn-primary">
                Retour à la liste
            </a>
        </div>
    </main>

</div>
<footer th:replace="mesFragments :: fragFooter"></footer>
</body>
</html>