<!DOCTYPE html>
<html lang="fr">
<head th:replace="mesFragments :: fragHead">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="vh-100">
    <nav th:replace="mesFragments :: fragNav"></nav>
    <main class="container">
        <h1>Mes campagnes</h1>
        <div >
            <a th:href="@{'/joueur/campagne/create'}" class="btn btn-success">
                Ajouter une qualite
            </a>
        </div>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Nom</th>
                <th>Statut</th>
                <th>Meilleur Score</th>
                <th>Dernier Score</th>
                <th>Combats</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="uneCampagne : ${campagnes}">
                <td th:text="${uneCampagne.nom}"></td>
                <td th:text="${uneCampagne.statut}"></td>
                <td th:text="${uneCampagne.meilleurScore}"></td>
                <td th:text="${uneCampagne.dernierScore}"></td>
                <td>
                    <ul>
                        <li th:text="${unCombat.monstre.nom}" th:each="unCombat:${uneCampagne.combats}"></li>
                    </ul>
                </td>
                <td >
                    <div class="d-flex">
                    <a th:href="@{'/joueur/campagne/'+${uneCampagne.id}+'/edit'}" class="btn btn-warning">
                        Modifier
                    </a>
                    <a th:href="@{'/joueur/campagne/'+${uneCampagne.id}}" class="btn btn-primary">
                        Consulter
                    </a>
                    <div>
                        <form th:action="@{'/joueur/campagne/delete'}" method="post">
                            <input type="hidden" name="id" th:value="${uneCampagne.id}">
                            <button class="btn btn-danger">Supprimer</button>
                        </form>
                    </div>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </main>
</div>
<footer th:replace="mesFragments :: fragFooter"></footer>
</body>
</html>