<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head th:replace="mesFragments :: fragHead">
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
<div class="vh-100">
    <nav th:replace="mesFragments :: fragNav"></nav>
    <main class="container">
        <h1>Login</h1>

        <!-- Affiche le message d'erreur si l'attribut "error" est présent dans le modèle -->
        <p th:if="${error}" class="alert alert-danger">Identifiants incorrects. Veuillez réessayer.</p>

        <form action="/login" method="post">
            <div class="mb-3">
                <label for="username">Email</label>
                <input required class="form-control" id="username" name="username" type="text">
            </div>
            <div class="mb-3">
                <label for="password">Mdp</label>
                <input required class="form-control" id="password" name="password" type="password">
            </div>
            <button class="btn btn-primary">Envoyer</button>
        </form>
    </main>
</div>
<footer th:replace="mesFragments :: fragFooter"></footer>
</body>
</html>
